<div class="row">
  <div class="col-sm-12">
    <h3>List de tous les membres :</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <ul *ngIf="users.length > 0">
      <div *ngFor="let user of users">
        <li>{{ user.display }}</li>
        <form>
          <button *ngIf="!user.ban" (click)="ban(user)">Banir</button>
          <button *ngIf="user.ban" (click)="ban(user)">Rétablir</button>
        </form>
      </div>
    </ul>
    <p *ngIf="users.length == 0">Pas de membres</p>
  </div>
</div>
