
<div>
  <h3>Liste des utilisateurs</h3>
  <table class="container">
    <thead>
      <tr>
        <th>Nom et Prenom</th>
        <th>Email</th>
        <th>Inscription</th>
      </tr>
    </thead>
    <tbody *ngIf="users.length > 0">
      <tr *ngFor="let user of users">
        <td>{{ user.display }}</td>
        <td>{{ user.mail }}</td>
        <td>
          <form>
            <button *ngIf="!user.ban" (click)="ban(user)">Banir</button>
            <button *ngIf="user.ban" (click)="ban(user)">Rétablir</button>
          </form>
        </td>
      </tr>
      <p *ngIf="users.length == 0">Pas de membres</p>
    </tbody>
    
  </table>
</div>
