<div>
  <table class="container">
    <h3>Mes annonces</h3>
    <h3 *ngIf="annonces.length == 0">Vous n'avez pas encore d'annonces</h3>
    <thead>
      <tr>
        <th>Titre</th>
        <th>Prix</th>
        <th>Categorie</th>
        <th>Etat de l'annonce</th>
        <th>Detail</th>
      </tr>
    </thead>
    <tbody *ngIf="annonces.length > 0">
      <tr *ngFor="let annonce of annonces">
        <td>{{ annonce.display || "" }}</td>
        <td>{{ annonce.price || 0 }}</td>
        <td>{{annonce?.subcategory?.category?.category || ""}}</td>
        <td>{{ annonce.status || "" }}</td>
        <td>
          <form>
            <button
              class="persoColorBlue"
              *ngIf="currentUser"
              (click)="annonceDetails(annonce.idProduct!)"
            >
              Voir en details
            </button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>
