.container {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
  color: #006f91;
  margin-bottom: 10px;
}

li{
  padding: 10px;
  font-size: 120%;
}

.secmain {
  list-style-type: "✔️";
}
.recup{
  list-style-type: "♻️";
}
.enviro{
  list-style-type: "🌱";
}
.liens{
  list-style-type: "🤝";
}
.eco{
  list-style-type: "💰";
}
.grenier{
  list-style-type: "🧺";
}
.circuit{
  list-style-type: "🚗";
}
.happy{
  list-style-type: "✌️";
}

blockquote {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

#bold{
  font-weight: bold;
}
