<div class="container">
  <h1>Vinci Market</h1>
  <br>
  <section>
    <h4>
      Lancement d’une plateforme à destination de tous les membres de la communauté Vinci qui souhaitent vendre, 
      donner ou acheter des objets en attente d’une seconde vie. 
      Ce projet s’inscrit dans une démarche de développement durable visant à promouvoir le réemploi.  
      Grâce à cette plateforme nous vous invitons à : 
    </h4>
    <ul>
      <li class="secmain">Acheter en seconde main</li>
      <li class="recup">Privilégier la récupération</li>
      <li class="enviro">Respecter notre environnement</li>
      <li class="liens">Créer des liens</li>
      <li class="eco">Economiser</li>
      <li class="grenier">Désencombrer notre habitat</li>
      <li class="circuit">Favoriser le circuit court</li>
      <li class="happy">Faire des heureux</li>
    </ul>
    
    <blockquote>Nous avons tous des trésors enfouis au fond de notre grenier ou de nos
      placards. Trésors qui profiteraient à d’autres. Valorisons-les en leur
      donnant une seconde vie.
    </blockquote>
    <h4>Plus d’informations :</h4>
    <h4>
      Faire ses achats en seconde main, c’est bon pour le climat ! | <a href="https://www.ecoconso.be/fr/content/pourquoi-acheter-en-seconde-main">écoconso ↗</a>
      (ecoconso.be)
    </h4>
  </section>
</div>
