
.imageSize {
    display: inline-block;
    max-width: 300px;
    max-height: 150px;
    width: auto;
    height: auto;
    border: #006f91;
    border-width: 3px;
}
.imageVideo{
    display: inline-block;
    width: 100%;
}
ul, li{
    margin-right: 10px;
    display: inline-block;
}

.inlineDisplay{
    display: inline-block;

}

.container {
    min-width: 800px;
    position: absolute;
    left: 50%;
    transform: translate(-25%);
    color: #006f91;
}

h3{
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 10px;
}

button{
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.persoColorBlue {
    background-color: #006f91ee;
    color: #fff;
    border-radius: 35px;
    width: 250px;
    height:50px;
    text-align:center;
    line-height:1.1em;
    margin-bottom: 20px;
    font-size:1.1em;
    
}
.persoColorRed {
    background-color: #ff0000ee;
    color: rgb(0, 0, 0);
    border-radius: 35px;
    width: 250px;
    height:50px;
    text-align:center;
    line-height:1.1em;
    font-size:1.1em;
    
}

.videoMp4{
    width:300px; 
    height: 150px;
}


.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: 2px solid #006f91ee;
    color: #006f91;
    background-color: #36798d52;
    border-radius: 30px;
    font-weight: bold;
    width: 250px;
    height:50px;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
}

