.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  color: #006f91;
  margin-bottom: 10px;
}

li{
    margin-right: 10px;
    display: inline-block;
}

p{
    background-color: #006f91ee; 
}