<div class="row">
  <div class="col-sm-12">
    <h3>Details de l'annonce</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <li>{{ annonce.display }}</li>
  </div>
  <li *ngFor="let picture of pictures">
    <img src="https://merlinduvivier.blob.core.windows.net/test/{{picture.display}}">
  </li>
  <button
    *ngIf="annonce.seller?.idUser == currentUser"
    (click)="seeOffers(annonce.idProduct!)"
  >
  Voir offres
</button>
  <input *ngIf="annonce.seller?.idUser == currentUser" type="file"  name="filename" formControlName="image" (change)="onFileUpload($event)">
    
  
  <button
    *ngIf="currentUser !== undefined"
    (click)="addOffer(annonce.idProduct!)"
  >
    Ajouter une offre
  </button>
</div>
