<div>
  <table class="container" *ngIf="annonces.length > 0">
    <thead>
      <tr>
        <th>Nom et Description</th>
        <th>Prix</th>
        <th>Categorie</th>
        <th>Date de publication</th>
        <th>Etat de l'annonce</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="annonces.length > 0">
      <tr *ngFor="let annonce of annonces">
        <td>{{ annonce.display || "" }}</td>
        <td>{{ annonce.price || 0 }}</td>
        <td>add nom user, categorie,...</td>
        <td>{{ annonce.creationDate || "" }}</td>
        <td>{{ annonce.status || "" }}</td>
        <td>
          <form>
            <button
              class="persoColorBlue"
              *ngIf="currentUser"
              (click)="annonceDetails(annonce.idProduct!)"
            >
              Voir en details
            </button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
  <h1 *ngIf="annonces.length == 0">Pas d'annonce</h1>
</div>
