<div class="container">
    <h3>Liste des annonces :</h3>
    <div *ngIf="annonces.length > 0">
    <ul *ngFor="let annonce of annonces">
      <li>{{annonce.price}}</li>
      <p>add nom user, categorie,...</p>
      <li>{{annonce.creationDate}}</li>
      <li>{{annonce.state}}</li>
      <li>
        {{ annonce.display }}
        <button class="persoColorBlue" *ngIf="currentUser" (click)="annonceDetails(annonce.idProduct!)">
          Voir en details
        </button>
      </li>
    </ul>
  </div>
    <p *ngIf="annonces.length == 0">Pas de annonces</p>
</div>
