.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    color: #006f91;
}

h3{
    margin-top: 0;
    padding-top: 0;
}

legend{
    color:#006f918c;
    font-size: 1em;
}

button{
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.persoColorBlue {
    background-color: #006f91ee;
    color: #fff;
    border-radius: 35px;
    width: 250px;
    height:50px;
    text-align:center;
    line-height:1.1em;
    font-size:1.1em;
}

.persoColorRed {
    background-color: #cf0000;
    color: rgb(0, 0, 0);
    border-radius: 35px;
    width: 250px;
    height:50px;
    text-align:center;
    line-height:1.1em;
    font-size:1.1em;
    margin-left: 20px;
}

p {
    color: #808080
}