
<div class="container">
  <h1>Profil utilisateur</h1>
  <br>
  <div class="col-sm-12">
    <fieldset>
      <legend class="legendText">Nom et Prenom : </legend>
      <h3 class="h3display" >{{currentUser?.lastName}}</h3>
      <h3 class="h3display" >{{currentUser?.firstName}}</h3>
    </fieldset>
    <fieldset>
      <legend class="legendText">Numero de Telephone : </legend>
      <h3>{{currentUser?. phone}}</h3>
    </fieldset>
    <fieldset>
      <legend class="legendText">Adresse Email : </legend>
      <h3>{{currentUser?. mail}}</h3>
    </fieldset>
    <fieldset>
      <legend class="legendText">Campus : </legend>
      <h3>{{currentUser?. campus}}</h3>
    </fieldset>
    <br>
    <br>
  </div>
  <div>
    <button class="persoColorBlue" name="modifierProfil" (click)="modifierProfil()" >Modifier mon profil</button>
    <button class="persoColorRed" name="deleteProfil" (click)="deleteProfil()">Desactiver mon compte</button>
  </div>
</div>