<div>
  <table class="container">
    <h3>Liste des utilisateurs</h3>
    <h3 *ngIf="offres.length == 0">Vous n'avez aucune offre</h3>
    <thead>
      <tr>
        <th>Message</th>
        <th>Prix</th>
        <th>Nom de l'acheteur</th>
        <th>Telephone</th>
      </tr>
    </thead>
    <tbody *ngIf="offres.length > 0">
      <tr *ngFor="let offre of offres">
        <td>{{ offre.message }}</td>
        <td>{{ offre.value }}</td>
        <td>{{ map.get(offre).display }}</td>
        <td>{{ map.get(offre).phone }}</td>
      </tr>
    </tbody>
  </table>
</div>
