.map-container {
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 200px;
  width: 50%;
}

#map {
  height: 200px;
}


.persoColorBlue {
  background-color: #006f91ee;
  color: #fff;
  border-radius: 35px;
  width: 250px;
  height:50px;
  text-align:center;
  line-height:1.1em;
  font-size:1.1em;
  position: center;
  margin-left: auto;
  margin-right: auto;
}