div {
  min-height: 600px;
}
/*.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  color: #006f91;
  margin-top: 30%;
  background-color:#d7edf3;
}*/

.persoColorBlue {
  background-color: #006f91ee;
  color: #fff;
  border-radius: 35px;
  width: 250px;
  height: 50px;
  text-align: center;
  line-height: 1.1em;
  font-size: 1.1em;
  position: center;
  margin-left: auto;
  margin-right: auto;
}
.container {
  position: absolute;
  background-color: #d7edf3;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  color: #006f91;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow: scroll;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 100%;
  display: block;
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #006f91;
  text-align: left;
}

th {
  text-align: left;
  color: #006f91;
}

tbody {
  display: table;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

thead,
th {
  border-collapse: collapse;
  width: 100%;
  z-index: 1;
  background-color: #006f91;
  color: #fff;
}

tr:hover {
  background-color: #006f9170;
}

button {
  background-color: #006f91ee;
  color: #fff;
  border-radius: 35px;
  width: 125px;
  height: 35px;
  text-align: center;
}

tr th {
  width: 10%;
}
tr td {
  width: 10%;
}
