 <div >
  <table class="container" *ngIf="map.size > 0">
    <h3>La liste des Annonces à valider</h3>
    <h3 *ngIf="annonces.length == 0" > Il n'y a pas d'annonces</h3>
    <thead>
      <tr>
        <th>Nom et Description</th>
        <th>Prix</th>
        <th>Vendeur</th>
        <th>Categorie</th>
        <th>Date de publication</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="annonces.length > 0">
      <tr *ngFor="let annonce of annonces">
        <td>{{ annonce.display || "" }}</td>
        <td>{{ annonce.price }}</td>
        <td>{{ map.get(annonce).display || "" }}</td>
        <td>{{annonce?.subcategory?.category?.category || ""}}</td>
        <td>{{ annonce.creationDate }}</td>
        <td>
          <form>
            <button class="persoColorBlue" (click)="validate(annonce)">
              valider
            </button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>

