<div class="container">
  <table *ngIf="annonces.length > 0 && map.size > 0">
    <thead>
      <tr>
        <th>Nom et Description</th>
        <th>Prix</th>
        <th>Vendeur</th>
        <th>Categorie</th>
        <th>Date de publication</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="annonces.length > 0">
      <tr *ngFor="let annonce of annonces">
        <td>{{ annonce.display || "" }}</td>
        <td>{{ annonce.price }}</td>
        <td>{{ map.get(annonce).display || "" }}</td>
        <td>{{ annonce.subcategory?.display || "" }}</td>
        <td>{{ annonce.creationDate }}</td>
        <td>
          <form>
            <button class="persoColorBlue" (click)="validate(annonce)">
              valider
            </button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>
