<header>
  <nav
    class="
      navbar navbar-expand-sm navbar-toggleable-sm navbar-light
      bg-dark
      border-bottom
      box-shadow
      mb-3
    "
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Vinci Market</a>
      <ul class="navbar-nav flex-grow">
        <li
          class="nav-item"
          [routerLinkActive]="['link-active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="navbar-brand" [routerLink]="['/']">Accueil</a>
        </li>
        <li
          class="nav-item"
          [routerLinkActive]="['link-active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="navbar-brand" [routerLink]="['/annonces']">Annonces</a>
        </li>
        <li
          class="nav-item"
          [routerLinkActive]="['link-active']"
          *ngIf="currentUser && isAdmin"
        >
          <a class="navbar-brand" [routerLink]="['/users']">Users</a>
        </li>
        <li
          class="nav-item"
          [routerLinkActive]="['link-active']"
          *ngIf="currentUser"
        >
          <a class="navbar-brand" [routerLink]="['/profil']">Profil</a>
        </li>
        <li
          class="nav-item"
          [routerLinkActive]="['link-active']"
          *ngIf="!currentUser"
        >
          <a class="navbar-brand" [routerLink]="['/login']">
            <span> Se connecter </span>
          </a>
        </li>

        <li
          class="nav-item"
          [routerLinkActive]="['link-active']"
          *ngIf="!currentUser"
        >
          <a class="navbar-brand" [routerLink]="['/signup']">
            <span> S'inscrire </span>
          </a>
        </li>
        <li
          class="nav-item"
          [routerLinkActive]="['link-active']"
          *ngIf="currentUser"
        >
          <a class="navbar-brand" [routerLink]="" (click)="logout()"
            >Se deconnecter</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
