<header>
  <nav class="
  navbar navbar-expand-sm navbar-toggleable-sm navbar-light
  bg-dark
  border-bottom
  box-shadow
  navbar-collapse collapse">
    <img id="logo" class="navbar-brand "  src="/assets/images/logoVinci.png">
    <div class="flex-container">

      <div class="flex-child " >
      
        <ul class="navbar-nav flex-grow" style="text-align:center">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="navbar-brand" [routerLink]="['/']">Accueil</a>
          </li>
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="navbar-brand" [routerLink]="['/annonces']">Annonces</a>
          </li>
          <li
          class="nav-item"
          [routerLinkActive]="['link-active']"
          *ngIf="currentUser && isAdmin"
        >
          <a class="navbar-brand" [routerLink]="['/users']">Users</a>
        </li>
        <li
          class="nav-item"
          [routerLinkActive]="['link-active']"
          *ngIf="currentUser"
        >
          <a class="navbar-brand" [routerLink]="['/profil']">Profil</a>
        </li>
        <li
          class="nav-item"
          [routerLinkActive]="['link-active']"
          *ngIf="currentUser"
        >
          <a class="navbar-brand" [routerLink]="['/ajouterAnnonce']"
            >Ajouter une Annonce</a
          >
        </li>
        </ul>
      
      </div>
      
      <div class="flex-child "id="left">
        <ul class="navbar-nav flex-grow" style="text-align:right" >
          <li
          class="nav-item"
          [routerLinkActive]="['link-active']"
          *ngIf="!currentUser"
        >
          <a class="navbar-brand" [routerLink]="['/login']">
            <span> Se connecter </span>
          </a>
        </li>

        <li
          class="nav-item"
          [routerLinkActive]="['link-active']"
          *ngIf="!currentUser"
        >
          <a class="navbar-brand" [routerLink]="['/signup']">
            <span > S'inscrire </span>
          </a>
        </li>
        <li
          class="nav-item"
          [routerLinkActive]="['link-active']"
          *ngIf="currentUser"
        >
          <a class="navbar-brand" [routerLink]="" (click)="logout()"
            >Se deconnecter</a
          >
        </li>
        </ul>
      </div>
      
    </div>
  </nav>
</header>