<mat-card fxFlexAlign="stretch">
  <mat-card-content fxFlexAlign="stretch">
    <form [formGroup]="formModifier" (ngSubmit)="onUpdate()">
      <h2>Modifier mes informations personnelles</h2>
      <mat-form-field  class="full-width-input">
        <input matInput placeholder="nom" formControlName="lastName" required />
        <mat-error> Entrez un nom valide </mat-error>
      </mat-form-field>
      <mat-form-field  class="full-width-input">
        <input matInput placeholder="prenom" formControlName="firstName" required/>
        <mat-error> Entrez un prenom valide </mat-error>
      </mat-form-field>
      <mat-form-field  class="full-width-input">
        <input matInput placeholder="phone"  type="tel" formControlName="phone" required/>
        <mat-error> Entrez un numero de téléphone valide </mat-error>
      </mat-form-field>
      <p style="color:#808080">campus*</p>
      <select formControlName="campus" required>
        <option value=”ixelles”>ixelles</option>
        <option value=”louvain-la-neuve”>louvain-la-neuve</option>
        <option value=”woluwe”>woluwe</option>
        <mat-error> Entrez un campus </mat-error>
      </select>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="email" formControlName="email" required />
        <mat-error> Entrez un email valide </mat-error>
      </mat-form-field>
      <div class="form-group"></div>
      <mat-form-field class="full-width-input">
        <input
        matInput
        type="password"
        placeholder="mot de passe"
        formControlName="password"
        required
        />
        <mat-error> Entrez un mot de passe valide </mat-error>
      </mat-form-field>
      <div class="form-group">
        <mat-form-field class="full-width-input">
          <input
          matInput
          type="password"
          placeholder=" vérification du mot de passe"
          formControlName="passwordVerify"
          required
          />
          <mat-error> Confirmez votre nouveau mot de passe </mat-error>
        </mat-form-field>
      </div>      
      <button mat-raised-button color="primary">Mettre mes informations à jour</button>
    </form>
  </mat-card-content>
</mat-card>