<div class="container">
<mat-card fxFlexAlign="stretch">
  <mat-card-content fxFlexAlign="stretch">
    <form [formGroup]="formModifier" (ngSubmit)="onUpdate()">
      <h2>Modifier mes informations personnelles</h2>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="nom" formControlName="lastName" required />
        <mat-error> Entrez un nom valide </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="prenom"
          formControlName="firstName"
          required
        />
        <mat-error> Entrez un prenom valide </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="phone"
          type="tel"
          formControlName="phone"
          required
        />
        <mat-error> Entrez un numero de téléphone valide </mat-error>
      </mat-form-field>
      <p>campus*</p>
      <select formControlName="campus" required>
        <option value="IXELLES">{{ campusEnum.IXELLES }}</option>
        <option value="LOUVAIN">
          {{ campusEnum.LOUVAINLANEUVE }}
        </option>
        <option value="WOLUWE">{{ campusEnum.WOLUWE }}</option>
        <mat-error> Entrez un campus </mat-error>
      </select>
    
      <mat-form-field class="full-width-input">
        <input
          matInput
          type="password"
          placeholder="mot de passe"
          formControlName="password"
          required
        />
        <mat-error> Entrez un mot de passe valide </mat-error>
      </mat-form-field>
      
      <mat-form-field class="full-width-input">
        <input
        matInput
        type="password"
        placeholder=" vérification du mot de passe"
        formControlName="passwordVerify"
        required
        />
        <mat-error> Confirmez votre nouveau mot de passe </mat-error>
      </mat-form-field> 
      <button class="persoColorBlue"> Mettre mes informations à jour</button> 
    </form>
  </mat-card-content>
</mat-card>
</div>
